<div class="stats">
    <div class="frame top">
        <ul class="kpis">
            <!-- <li>
                <p class="label"></p>
                <h2 class="value"></h2>
            </li> -->
        </ul>
        <form class="agg">
            <select name="temporal-axis">
                <option value="daily" selected>Journalier</option>
                <option value="monthly">Hebdomadaire</option>
                <option value="yearly">Annuel</option>
            </select>
            <select name="model">
                <option value="all">Tous</option>
                <!-- <option value=""></option> -->
            </select>
        </form>
    </div>
    <form class="data">
        <ul>
            <!-- <li>
                <p class="label"></p>
                <h2 class="value"></h2>
            </li> -->
        </ul>
    </form>
    <div class="frame">
        <div class="plot-container" id="bar-plot"></div>
        <div class="plot-container" id="line-plot"></div>
    </div>
    <div class="plot-container" id="pie-plot"></div>
</div>