/* FORM ELEMENTS */

fieldset {
        border: none;
}

input {
    width: 100%;
    background-color: var(--bg-frame-color);
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    padding: .6rem;
}

textarea {
    background-color: var(--bg-frame-color);
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.6rem;
    width: 100%;
    height: 100px;
}

select {
    width: 100%;
    background-color: var(--bg-frame-color);
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    padding: .6rem;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--accent-color);
    outline: solid 1px var(--accent-color);
}

.noUi-target {
    margin: 20px 0;

    .noUi-connect {
        background: var(--accent-color);
    }

    .noUi-tooltip {
        display: none;
    }
    .noUi-handle:hover .noUi-tooltip {
        display: block;
    }
}

.main-button {
    color: white;
    padding: .3rem 1.1rem;
    background-color: var(--accent-color);
    border: solid 1px var(--accent-second-color);
    border-radius: 6px;
    transition: background-color .125s ease;
}
.main-button:hover:not(:disabled) {
    background-color: var(--accent-second-color);
}

.icon-button {
    border: none;
    background-color: var(--accent-color);
    border-radius: 100%;
    transition: background-color .125s ease;

    img {
        filter: invert(1);
        margin: 20px;
    }
}
.icon-button:hover {
    background-color: var(--accent-second-color);
}

.second-button {
    color: black;
    padding: .3rem 1.1rem;
    background-color: var(--bg-frame-color);
    border: solid 1px var(--border-color);
    border-radius: 6px;
    transition: background-color .125s ease;
}
.second-button:hover:not(:disabled) {
    background-color: var(--border-color);
}

.second-icon-button {
    border: none;
    background-color: inherit;
    border-radius: var(--border-radius);
    transition: background-color .125s ease;

    img {
        filter: invert(30%);
    }
}
.second-icon-button:hover {
    background-color: var(--bg-frame-color);

    img {
        filter: invert(8%);
    }
}

button:disabled {
    opacity: .5;
}


/* TEXT */

.tag {
    background-color: rgb(255 255 255 / 15%);
    padding: .1rem .2rem;
    border-radius: 4px;
    border: solid 1px rgba(255 255 255 / 30%);
    margin: 0 .1rem;
}

.tag > * {
    display: inline-block;
    color: var(--bg-selected-color);
}


/* PATIENT */

.patient-result.profile {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .6rem;

    .pp {
        position: relative;
        font-size: 0;

        .recording {
            position: absolute;
            bottom: 0px;
            right: -4px;
            z-index: 2;
            border-radius: 100%;
            padding: 2px;
            background-color: var(--bg-color);

            img {
                height: 12px;
                display: block;
            }
        }
    }
}

.patient-result.case {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .6rem;
    background-color: var(--bg-frame-color);
    border-radius: 6px;
    border: solid 1px var(--border-color);
    position: relative;

    .info {
        position: absolute;
        right: .6rem;
    }

    .score, .date {
        display: inline-block;
        padding: 0rem .4rem;
        border-radius: 100px;
    }

    .date {
        color: var(--text-second-color);
        background-color: var(--border-color);
    }

    .score {
        background-color: var(--bg-selected-color);
        color: var(--accent-color);
    }
}
.patient-result.case:hover {
    .label {
        text-decoration: underline;
    }
}

/* DOCUMENT */

.document {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .6rem;
    background-color: var(--bg-frame-color);
    border-radius: 6px;
    border: solid 1px var(--border-color);
    position: relative;

    .score {
        background-color: var(--bg-selected-color);
        padding: 0rem .4rem;
        border-radius: 100px;
        color: var(--accent-color);
        position: absolute;
        right: .6rem;
    }
}
.document:hover {
    .label {
        text-decoration: underline;
    }
}

/* POPUP */

.popup {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn .2s ease;

    .content {
        width: 30rem;
        background-color: var(--bg-second-color);
        border: solid 1px var(--border-color);
        border-radius: var(--border-radius);
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        animation: slideUp .2s ease;

        form {
            margin-top: 1rem;
        }

        .grouped {
            display: flex;
            gap: 1rem;
        }

        .entry {
            margin-bottom: 1rem;
            width: 100%;

            label {
                margin-bottom: .2rem;
                display: block;
            }

            p {
                margin-top: .2rem;
                color: var(--text-second-color);
            }
        }

        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .6rem;
            margin-top: 1.5rem;

            button {
                width: 100%;
            }
        }

    }
    
}

.popup .content.large {
    min-width: 50rem;
}


/* TYPING BUBBLES */

.typing-bubbles {
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: var(--text-second-color);
        margin: 2px;
        animation: typing 1000ms ease-in-out infinite
    }

    .circle:nth-child(1) {
        animation-delay: 0ms;
    }

    .circle:nth-child(2) {
        animation-delay: 333ms
    }
        
    .circle:nth-child(3) {
        animation-delay: 666ms
    }
}

/* INFO MESSAGE */

.error-info {
    padding: .6rem;
    background-color: #ffcccc;
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

    p, strong {
        color: var(--bad-color);
        display: inline-block;
        vertical-align: middle;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        filter: invert(40%) sepia(19%) saturate(2712%) hue-rotate(318deg) brightness(113%) contrast(109%);
    }
}


/* LOADING */

.lds-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-13px, -13px);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border: 3px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}








@keyframes slideUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes typing {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}