/* FORM ELEMENTS */

fieldset {
        border: none;
}

input[type="text"] {
    width: 100%;
    background-color: var(--bg-frame-color);
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    padding: .6rem;
}

input:focus {
    border-color: var(--accent-color);
}

.main-button {
    color: white;
    padding: .3rem 1.1rem;
    background-color: var(--accent-color);
    border: solid 1px var(--accent-second-color);
    border-radius: 6px;
    transition: background-color .125s ease;
}
.main-button:hover:not(:disabled) {
    background-color: var(--accent-second-color);
}

.second-button {
    color: black;
    padding: .3rem 1.1rem;
    background-color: var(--bg-frame-color);
    border: solid 1px var(--border-color);
    border-radius: 6px;
    transition: background-color .125s ease;
}
.second-button:hover:not(:disabled) {
    background-color: var(--border-color);
}

button:disabled {
    opacity: .5;
}


/* TEXT */

.tag {
    background-color: rgb(255 255 255 / 15%);
    padding: .1rem .2rem;
    border-radius: 4px;
    border: solid 1px rgba(255 255 255 / 30%);
    margin: 0 .1rem;
}

.tag > * {
    display: inline-block;
    color: var(--bg-selected-color);
}


/* PATIENT */

.patient-result.profile {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .6rem;

    .pp {
        position: relative;
        font-size: 0;

        .recording {
            position: absolute;
            bottom: 0px;
            right: -4px;
            z-index: 2;
            border-radius: 100%;
            padding: 2px;
            background-color: var(--bg-color);

            img {
                height: 12px;
                display: block;
            }
        }
    }
}

.patient-result.case {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .6rem;
    background-color: var(--bg-frame-color);
    border-radius: 6px;
    border: solid 1px var(--border-color);
    position: relative;

    .score {
        background-color: var(--bg-selected-color);
        padding: 0rem .4rem;
        border-radius: 100px;
        color: var(--accent-color);
        position: absolute;
        right: .6rem;
    }
}
.patient-result.case:hover {
    .label {
        text-decoration: underline;
    }
}

/* DOCUMENT */

.document {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .6rem;
    background-color: var(--bg-frame-color);
    border-radius: 6px;
    border: solid 1px var(--border-color);
    position: relative;

    .score {
        background-color: var(--bg-selected-color);
        padding: 0rem .4rem;
        border-radius: 100px;
        color: var(--accent-color);
        position: absolute;
        right: .6rem;
    }
}
.document:hover {
    .label {
        text-decoration: underline;
    }
}