input[type="text"] {
    width: 100%;
    background-color: var(--bg-frame-color);
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    padding: .6rem;
}

input:focus {
    border-color: var(--accent-color);
}