@property --a {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false
}



main .top-bar {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: .4rem .6rem;
    background-color: var(--accent-color);
    transition: background-color .125s ease;

    * {
        color: white;
    }

    img {
        filter: invert(1);
    }

    .play-icon {

        p, img {
            display: inline-block;
            vertical-align: middle;
        }

        img {
            animation: blink 2s infinite;
        }
    }

    .actions > button {
        background-color: rgb(255 255 255 / 15%);
        padding: .1rem 1rem;
        border-radius: 4px;
        border: solid 1px rgba(255 255 255 / 30%);
        margin: 0 .1rem;
    }
}
main .top-bar:hover {
    background-color: var(--accent-second-color);
}


main .audio-record {
    display: none;
    height: 30%;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    transition: height .3s ease;
    margin: 1rem;
    margin-top: 0;
    transition: background-color .125s ease;

    * {
        color: white;
    }

    img {
        filter: invert(1);
    }

    > .states {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: top .3s ease;

        .stoped {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .6rem;
        }

        .started {
            display: none;
            position: relative;
            height: 100%;

            canvas#waveform {
                width: 100%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .label > * {
            display: inline-block;
        }
    }

    .circle-overlay {
        position: absolute;
        width: 40%;
        aspect-ratio: 1;
        border-radius: 100%;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    .circle-overlay.animation-1 {
        opacity: 0;
        animation: zoomIn .6s ease-out forwards;
        background-color: var(--bg-selected-color);
    }
    .circle-overlay.animation-2 {
        opacity: 0;
        animation: zoomIn .6s ease-out forwards;
        animation-delay: .2s;
        background-color: var(--accent-color);
        transition: background-color .125s ease;
    }
}
main .audio-record::before {
	position: absolute;
	inset: -1em;
	border: solid 1.25em;
	border-image: conic-gradient(from var(--a), var(--accent-color), #251648, var(--accent-color), #251648, var(--accent-color)) 1;
	filter: blur(1rem);
	animation: a 8s linear infinite;
	content: ''
}
main .audio-record:hover {
    background-color: var(--accent-second-color) !important;

    .circle-overlay.animation-2 {
        background-color: var(--accent-second-color);
    }
}
main .audio-record.active {
    display: block;
}

main.streaming {

    .top-bar {
        display: flex;
    }

    .audio-record {
        height: 15%;
        background-color: var(--bg-selected-color);

        .states {

            .stoped {
                display: none;
            }
            .started {
                display: block;
            }
        }
        
        .circle-overlay {
            animation: none;
        }
    }

    .audio-record::before {
        border-image: conic-gradient(from var(--a), var(--bg-color), var(--accent-color), var(--bg-color), var(--accent-color), var(--bg-color)) 1;
    }
}

@keyframes a { 
    to { --a: 1turn } 
}

@keyframes zoomIn {
    from {
        width: 30%;
        opacity: 0;
    }
    to {
        width: 120%;
        opacity: 1;
    }
}

@keyframes blink {
    0%, 49.999% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}