main #chatbot {
    height: 100%;
    width: 40rem;
    background-color: var(--bg-second-color);
    border-left: solid 1px var(--border-color);
    padding: .6rem;
    display: flex;
    flex-direction: column;

    button.close {
        position: absolute;
    }

    ul.messages {
        height: 100%;
        margin-right: -.6rem;
        margin-top: -.6rem;
        padding-right: .6rem;
        padding-top: .6rem;
        overflow-y: auto;

        li {
            padding: .6rem;
            border-radius: var(--border-radius);
            margin-bottom: 1rem;
            width: fit-content;
            max-width: 80%;
        }

        li.user {
            background-color: var(--accent-second-color);
            color: white;
            margin-left: auto;
        }
        li.agent {
            background-color: var(--bg-frame-color);
            margin-right: auto;
        }
    }

    input[name="query"] {
        padding: 1rem .6rem;
        margin-right: .6rem;
    }
}