main .diagnostics {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    .frame {
        background-color: var(--bg-second-color);
        border-radius: var(--border-radius);
        border: solid 1px var(--border-color);
        padding: 1rem;
    }

    .frame:first-child {
        grid-row: 1 / span 2;
    }

    form#context-editor {
        height: 80%;
        width: 100%;

        textarea {
            height: 100%;
            width: 100%;
            padding: 1rem;
        }
    }
}