html {
    height: 100%;
    background-color: var(--bg-color);
}

body {
    height: 100%;
    display: flex;
}



nav#menu-bar {
    width: 320px;
    background-color: var(--bg-second-color);
    border-right: solid 1px var(--border-color);
    background-color: var(--bg-second-color);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main .content {
    height: 100%;
    margin: 1rem;
}