html {
    height: 100%;
    background-color: var(--bg-color);
}

body {
    height: 100%;
    display: flex;
}



nav#menu-bar {
    width: 320px;
    background-color: var(--bg-second-color);
    border-right: solid 1px var(--border-color);
    background-color: var(--bg-second-color);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

main .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: max-height .3s ease;
}