@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');


:root {
    --accent-color: #8359E8;
    --accent-second-color: #9c7fe4;
    --text-color: #2A2A2A;
    --text-second-color: #a4a4a4;
    --bg-color: #F7F8FE;
    --bg-second-color: white;
    --bg-frame-color: #F7F7F7;
    --bg-selected-color: #EBE5FC;
    --bg-overlay-color: rgba(0 0 0 / .65);
    --border-color: #ebebeb;
    --border-radius: 8px;
    --bad-color: #ff4d4d;
    --good-color: #4EA252;
    --neutral-color: #ffa64d;
}

:where(:not(.editorjs *, .ct--bottom *)) {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    user-select: none;
    box-sizing: border-box;
    outline: none;
}


/* Global formatting */

h2 {
    font-size: 18px;
}

h3 {
    font-weight: 400;
}

img {
    filter: invert(8%);
    display: block;
}