nav#menu-bar {

    form.search {
        padding: .6rem;
    }

    ul {
        border-top: solid 1px var(--border-color);
        padding: .6rem;     
    }

    ul.internal .label {
        font-weight: 500;
    }

    ul > li {
        display: flex;
        align-items: center;
        gap: .6rem;
        padding: .6rem;
        border-radius: var(--border-radius);
        margin-bottom: 2px;
    }
    ul > li:hover {
        background-color: var(--bg-frame-color);
    }
    ul > li.selected {
        background-color: var(--bg-selected-color);
        
        svg {
            font-weight: 600;

            circle {
                fill: var(--bg-frame-color);
            }
        }
    }

    ul.internal > li {
        height: 40px;
    }
}