nav#menu-bar {

    form.search {
        padding: .6rem;
        position: relative;

        .tag {
            position: absolute;
            right: .6rem;
        }
    }

    ul {
        border-top: solid 1px var(--border-color);
        padding: .6rem 0;
    }

    ul.internal > li {
        display: flex;
        align-items: center;
        gap: .6rem;
        padding: .6rem;

        .label {
            font-weight: 500;
        }
    }

    ul > li {
        margin-bottom: 2px;
        border-left: solid 4px var(--bg-second-color);
    }
    ul > li:hover {
        background-color: var(--bg-frame-color);
        border-color: var(--bg-frame-color);
        
        .label {
            text-decoration: underline;
        }
    }
    ul > li.selected {
        background-color: var(--bg-frame-color);
        border-color: var(--accent-color);

        img {
            filter: invert(44%) sepia(76%) saturate(4538%) hue-rotate(239deg) brightness(96%) contrast(90%);
        }

        .profile svg {
            font-weight: 600;

            circle {
                fill: var(--accent-color);
            }

            text {
                fill: var(--bg-color);
            }
        }
    }

    ul.internal > li {
        height: 40px;
    }
}