main .patient {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    .frame {
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: var(--bg-second-color);
        border-radius: var(--border-radius);
        border: solid 1px var(--border-color);
        padding: 1rem;
    }
    .frame.waiting {
        background-color: var(--bg-second-color);
        animation: 3s ease-in-out 0s infinite normal none running fadeInOut;
        border-color: var(--bg-second-color);

        > * {
            display: none;
        }
    }

    .frame.context {
        grid-row: 1 / span 2;
        position: relative;
        padding: 1rem 0 0 1rem;

        form#context-editor {
            overflow-y: auto;

            .actions {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                z-index: 10;

                button:not(:last-child) {
                    margin-right: .2rem;
                }
            }
        }

        form#context-editor .actions{
            display: none;
        }
        form#context-editor.edited .actions{
            display: block;
        }
    }
    .frame.diagnostic {
        grid-row: 3;
        overflow: hidden;
        padding: 1rem 0 0 1rem;

        .editor {
            overflow-y: hidden;
        }
    }
    .frame.cases {
        grid-row: 1;

        ul {
            margin-top: .6rem;

            .patient-result {
                margin-bottom: .4rem;
            }
        }
    }
    .frame.documents {
        grid-row: 2 / span 2;

        ul {
            margin-top: .6rem;

            .document {
                margin-bottom: .4rem;
            }
        }
    }
}




@keyframes fadeInOut {
  0%   { opacity: .2; }
  50%  { opacity: 1; }
  100% { opacity: .2; }
}