main .patient-content .patient {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    .frame {
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: var(--bg-second-color);
        border-radius: var(--border-radius);
        border: solid 1px var(--border-color);
        overflow: hidden;

        .title {
            padding: 0.6rem 1rem 0;
        }

        ul.nav {
            padding: 0.6rem 1rem 0;

            > li {
                display: inline-block;
                margin-right: 1rem;
                padding-bottom: .2rem;
                border-bottom: solid 2px var(--bg-second-color);

                h2 {
                    color: var(--text-second-color);
                }
            }
        }

        ul.nav > li.selected {
            border-bottom: solid 2px var(--accent-color);

            h2 {
                color: var(--text-color);
            }
        }
    }
    .frame.waiting {
        background-color: var(--bg-second-color);
        animation: 3s ease-in-out 0s infinite normal none running fadeInOut;
        border-color: var(--bg-second-color);

        > * {
            opacity: .3;
        }
    }

    .frame .tab {
        display: none;
    }
    .frame .tab.active {
        display: block;
    }

    .frame.context-profile {
        grid-row: 1;
        position: relative;

        .tab.context {
            padding-left: 1rem;
        }
        .tab.profile {
            padding: 1rem;
            overflow-y: auto;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .patient-profile {
                    display: flex;
                    align-items: center;
                    gap: .6rem;
                    margin-bottom: 1rem;
                }

                .subinfo .sub > * {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: .4rem;
                    color: var(--text-second-color);
                }
                .subinfo .sub:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }

            ul.data {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 3rem;
                justify-items: center;
                margin-top: 4rem;

                > li {
                    text-align: center;

                    .value {
                        font-weight: 600;
                        font-size: 32px;
                    }
                }
            }
        }

        form#context-editor {
            height: 100%;
            overflow-y: auto;

            .actions {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                z-index: 10;

                button:not(:last-child) {
                    margin-right: .2rem;
                }
            }
        }

        form#context-editor .actions{
            display: none;
        }
        form#context-editor.edited .actions{
            display: block;
        }
    }
    .frame.diagnostic {
        grid-row: 2;
        overflow: hidden;

        .editor {
            padding-left: 1rem;
            overflow-y: hidden;
        }
    }
    .frame.cases {
        grid-row: 1;

        ul {
            padding: 1rem;
            overflow-y: auto;

            .patient-result {
                margin-bottom: .4rem;
            }
        }
    }
    .frame.documents {
        grid-row: 2;

        ul {
            padding: 1rem;
            overflow-y: auto;

            .document {
                margin-bottom: .4rem;
            }
        }
    }

    button#start-chat {
        position: absolute;
        bottom: .6rem;
        right: .6rem;
    }
}

main.simulate {
    button#start-chat {
        display: none;
    }
}




@keyframes fadeInOut {
  0%   { opacity: .3; }
  50%  { opacity: 1; }
  100% { opacity: .3; }
}