main .patient {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    .frame {
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: var(--bg-second-color);
        border-radius: var(--border-radius);
        border: solid 1px var(--border-color);
        padding: 1rem;
    }

    .frame.context {
        grid-row: 1 / span 2;

        form#context-editor .actions{
            display: none;
        }
        form#context-editor.edited .actions{
            display: block;
        }
    }
    .frame.diagnostic {
        grid-row: 3;
    }
    .frame.cases {
        grid-row: 1;

        ul {
            margin-top: .6rem;

            .patient-result {
                margin-bottom: .4rem;
            }
        }
    }
    .frame.documents {
        grid-row: 2 / span 2;

        ul {
            margin-top: .6rem;

            .document {
                margin-bottom: .4rem;
            }
        }
    }

    form#context-editor {
        position: relative;

        .actions {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;

            button:not(:last-child) {
                margin-right: .2rem;
            }
        }
    }
}