main .patient {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    .frame {
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: var(--bg-second-color);
        border-radius: var(--border-radius);
        border: solid 1px var(--border-color);
        overflow: hidden;

        .title {
            padding: 0.6rem 1rem;
            border-bottom: solid 1px var(--border-color);
            background-color: var(--bg-frame-color);
        }

        ul.nav {
            padding: 0.6rem 1rem;
            border-bottom: solid 1px var(--border-color);
            background-color: var(--bg-frame-color);

            > li {
                display: inline-block;
                margin-right: 1rem;

                h2 {
                    color: var(--text-second-color);
                }
            }
        }

        ul.nav > li.selected h2 {
            color: var(--text-color);
        }
    }
    .frame.waiting {
        background-color: var(--bg-second-color);
        animation: 3s ease-in-out 0s infinite normal none running fadeInOut;
        border-color: var(--bg-second-color);

        > * {
            display: none;
        }
    }

    .frame .tab {
        display: none;
    }
    .frame .tab.active {
        display: block;
    }

    .frame.context-profile {
        grid-row: 1 / span 2;
        position: relative;

        .tab.context {
            padding-left: 1rem;
        }
        .tab.profile {
            padding: 1rem;
        }

        form#context-editor {
            height: 100%;
            overflow-y: auto;

            .actions {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                z-index: 10;

                button:not(:last-child) {
                    margin-right: .2rem;
                }
            }
        }

        form#context-editor .actions{
            display: none;
        }
        form#context-editor.edited .actions{
            display: block;
        }
    }
    .frame.diagnostic {
        grid-row: 3;
        overflow: hidden;

        .editor {
            padding-left: 1rem;
            overflow-y: hidden;
        }
    }
    .frame.cases {
        grid-row: 1;

        ul {
            padding: 1rem;

            .patient-result {
                margin-bottom: .4rem;
            }
        }
    }
    .frame.documents {
        grid-row: 2 / span 2;

        ul {
            padding-left: 1rem;
            padding-right: 1rem;

            .document {
                margin-bottom: .4rem;
            }
        }
    }
}




@keyframes fadeInOut {
  0%   { opacity: .2; }
  50%  { opacity: 1; }
  100% { opacity: .2; }
}