<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>DiagnoSys</title>
   <!-- Custom Style -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/_components.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/menu-bar.css') }}">
   <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <nav id="menu-bar">
        <form action="" class="search" autocomplete="off">
            <input type="text" name="query" placeholder="Rechercher un patient" autocomplete="off">
        </form>
        <ul class="internal">
            <li>
                <img src="{{ url_for('static', filename='images/settings.svg') }}" alt="" height="16px">
                <p class="label">Réglages</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/info.svg') }}" alt="" height="16px">
                <p class="label">À propos</p>
            </li>
        </ul>
        <ul class="patients">
            {% for p in patients %}
                <li data-patient-id="{{ p.id }}" class="{% if loop.first %}selected{% endif %}">
                    <svg width="30" height="30" viewBox="0 0 30 30">
                        <circle r="14" fill="var(--bg-selected-color)" cy="15" cx="15"></circle>
                        <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" font-size="40" fill="#333" dy=".05em">{{ p.initials }}</text>
                    </svg>
                    <p class="label">{{ p.first_name }} {{ p.last_name }}</p>
                </li>
            {% endfor %}
        </ul>
    </nav>
   <main>
    <button id="start">Start recording</button>
    <button id="stop">Stop recording</button>
   </main>
</body>

<script src="{{ url_for('static', filename='js/menu-bar.js') }}"></script>
<script src="{{ url_for('static', filename='js/audio-record.js') }}"></script>

</html>