<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>DiagnoSys</title>
   <!-- Custom Style -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/_components.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/menu-bar.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/diagnostics.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/audio-record.css') }}">
   <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <nav id="menu-bar">
        <form action="" class="search" autocomplete="off">
            <input type="text" name="query" placeholder="Rechercher un patient" autocomplete="off">
        </form>
        <ul class="internal">
            <li>
                <img src="{{ url_for('static', filename='images/settings.svg') }}" alt="" height="16px">
                <p class="label">Réglages</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/info.svg') }}" alt="" height="16px">
                <p class="label">À propos</p>
            </li>
        </ul>
        <ul class="patients">
            {% for p in patients %}
                <li data-patient-id="{{ p.id }}">
                    <div class="profile">
                        <svg width="30" height="30" viewBox="0 0 30 30">
                            <circle r="14" fill="var(--bg-selected-color)" cy="15" cx="15"></circle>
                            <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" font-size="40" fill="#333" dy=".05em">{{ p.initials }}</text>
                        </svg>
                    </div>
                    <p class="label">{{ p.first_name }} {{ p.last_name }}</p>
                </li>
            {% endfor %}
        </ul>
    </nav>
   <main>
        <div class="top-bar">
            <div class="play-icon">
                <img src="{{ url_for('static', filename='images/record.svg') }}" alt="" height="16px">
                <p class="timer">00:00</p>
            </div>
            <div class="actions">
                <button>Voir</button>
            </div>
        </div>
        <div class="content"></div>
        <div class="audio-record">
            <div class="states">
                <div class="stoped">
                    <img src="{{ url_for('static', filename='images/mic.svg') }}" alt="" height="52px" class="mic">
                    <div class="label">
                        <h3>Appuyez sur</h3>
                        <div class="tag">
                            <p>shift</p>
                        </div>
                        <p>+</p>
                        <div class="tag">
                            <img src="{{ url_for('static', filename='images/key_space.svg') }}" alt="" height="14px">
                            <p>space</p>
                        </div>
                        <h3>pour commencer l'enregistrement</h3>
                    </div>
                </div>
                <div class="started">
                    <canvas id="waveform" width="3000" height="400"></canvas>
                </div>
            </div>
            <div class="circle-overlay animation-1"></div>
            <div class="circle-overlay animation-2"></div>
        </div>
   </main>
</body>

<script src="{{ url_for('static', filename='js/_helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/menu-bar.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/audio-record.js') }}" type="module"></script>

</html>