<div class="patient" data-patient-id="{{ patient_id }}">
    <div class="frame context">
        <h2>Contexte</h2>
        <form id="context-editor">
            <fieldset>
                <div id="context" class="editor"></div>
                <div class="actions">
                    <button class="second-button">Annuler</button>
                    <button class="main-button">Valider</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="frame diagnostic">
        <h2>Diagnostic</h2>
        <div id="diagnostic" class="editor"></div>
    </div>
    <div class="frame cases">
        <h2>Cas similaires</h2>
        <ul></ul>
    </div>
    <div class="frame documents">
        <h2>Resources</h2>
        <ul></ul>
    </div>
</div>