<div>
    <!-- KPI row -->
    <div class="kpi_header">
        <!-- KPI 1 -->
        <card class="kpi_card">
            <h3>CO2</h3>
            <p class="kpi_value">Je sais pas moi 300g ?</p>
            <p class="kpi_comparison">Soit l'équivalent de 10 trajets en avion</p>
        </card>
        <!-- KPI 2 -->
        <card class="kpi_card">
            <h3>water</h3>
            <p class="kpi_value">Je sais pas moi 300ml ?</p>
            <p class="kpi_comparison">Soit l'équivalent de 15_000 douches</p>
        </card>
        <!-- KPI 3 -->
        <card class="kpi_card">
            <h3>antimony</h3>
            <p class="kpi_value">Je sais pas moi 30ng ?</p>
            <p class="kpi_comparison">Soit l'équivalent de la labeur annuel et 10 enfants congolais</p>
        </card>
        <!-- KPI 4 -->
        <card class="kpi_card">
            <h3>total_requests</h3>
            <p class="kpi_value">Je sais pas moi 300K ?</p>
            <p class="kpi_comparison">Soit l'équivalent d'une demi journée de McKinsey</p>
        </card>
        <!-- end of the KPI row -->
         
    </div>





</div>